.heading{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    padding-top: 0.5rem;
}
.category-banner{
    width: 100%;
    height: 500px;
    padding-top: 20px;
    padding-bottom: 10px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.reason{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: italic;
    text-align: left;
    margin-bottom: 2rem;
    border-left: solid black 10px;
    margin-left: 1vw;
    padding-left: 1vw;
}

.quote-text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-style: italic;
    margin-bottom: 1rem;
    text-align: center;
}

.quote-author{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: right;
    margin-bottom: 3rem;
    margin-right: 2rem;
    font-style: italic;
}

.about-category{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
    padding: 20px;
}
