.post-wrapper {
  max-width: 720px;          /* Perfect reading width */
  margin: 0 auto;            /* Centers horizontally */
  padding: 6rem 1.5rem;
}

.post-wrapper h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.post-meta {
  color: #888;
  margin-bottom: 3rem;
}

.post-wrapper img {
  width: 100%;
  margin: 3rem 0;
  border-radius: 12px;
}

.post-wrapper p {
  line-height: 1.8;
  margin-bottom: 1.6rem;
  font-size: 1.250rem;
}

.post-wrapper h2 {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.reading-progress {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  height: 8px;
  background: linear-gradient(
    90deg,
    #ddff7f,
    #d5ef79,
    #b7cd64
  );

  transform-origin: 0% 50%;
  z-index: 9999;
}
